.react-toggle--checked .react-toggle-track {
  background-color: #242424 !important;
  &:hover {
    background-color: #2f2f2f !important;
  }
}

.react-toggle--checked .react-toggle-thumb {
  border-color: transparent;
}
